<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
        <title>{{ page.title }}</title>
	    <meta name="description" content="Rodney's Blog">
	    <meta name="author" content="Rodney Gomes">

        <link rel="alternate"
              type="application/rss+xml"
              title="Rodney's Corner RSS Feed"
              href="http://feeds.feedburner.com/rlgomesgithubcom/feed"/>

	    <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet"/>

	    <style>
	       .fixed_table_size {
	           width: 247px;
	       }
	       .remove_top_bottom_margins {
	           margin-top: 0px;
	           margin-bottom: 0px;
	       }
	    </style>
    </head>
    <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Rodney's Corner</a>
          <ul class="nav nav-tab">
            <li ><a href="/">Blog</a></li>
            <li ><a href="/archive.html">Archive</a></li>
            <li class="active"><a href="/about.html">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>About<small> me, myself and I</small></h1>
        </div>
        <div class="row">
          <div class="span10">
            <div id="body">
            <p>
            I have been working in the computer industry since 1995 and have
            worked on everything from mobile application development on symbian,
            to creating my own test framework (http://github.com/rlgomes/dtf) to
            test an object oriented storage product at Sun Microsystems. I was
            able to have it open sourced by <b>Sun</b> and then later used it
            for the first 2 years at <b>Yahoo</b> to help the
            <b>Platform Team</b> (<b>Cloud Team</b> as it was later known) to
            test a distributed hash-table implementation and a globally
            available high performance messaging system.
            </p>
            <p>
            In my short career in the Bay Area I've worked on back-end and front
            end work and I've gone from working in the development team to
            developing special tools/frameworks for the testing team. I have
            also had the opportunity to help mentor and teach the ways of
            software development to junior members having spent almost a year
            working with a bunch of new grads at <b>Yahoo</b> helping them
            get their first footing in the industry.
            </p>
            <p>
            People always ask why I don't just do development and the simple
            answer is that I find testing to be a more challenging field. The
            testing problem is an incomplete problem. Because of this, it makes
            testing a very difficult and hard job to do that most people steer
            away from. Testing also requires quick adaptation on a daily basis
            to new problems or changes in features that are shipping. Diagnosing
            and understanding issues in a product are also another part of your
            daily tasks as a <b>Quality Engineer</b> and all of those things
            combined are what make testing a more interesting and exciting field
            to be in.
            </p>
            </div>
          </div>
          <div class="span4">
             <h3>Rodney Lopes Gomes</h3>
             <table class="remove_top_bottom_margins fixed_table_size">
                <tr>
                    <td><div id="image"><img src="images/me.jpg" width="120" height="160"></div></td>
                    <td>
                        <table>
                        <tr>
		                     <td style="border-top: 0px;">
		                         <img src="images/gmail.png" height="16" width="16"/>
		                     </td>
		                     <td style="border-top: 0px;">
		                         <a class="email" href="mailto:rodneygomes@gmail.com">email</a>
		                     </td>
		                 </tr>
		                 <tr>
		                     <td>
		                         <img src="images/icq.png" height="16" width="16"/>
		                     </td>
		                     <td>
		                         <a class="url" href="aim:goim?screenname=260093107">AIM</a>
		                     </td>
		                 </tr>
		                 <tr>
		                     <td>
		                         <img src="images/yahoo.png" height="16" width="16"/>
		                     </td>
		                     <td>
		                         <a class="url" href="ymsgr:sendIM?gomes_rodney">YIM</a>
		                     </td>
		                 </tr>
		                 <tr>
		                     <td>
		                         <img src="images/gtalk.png" height="16" width="16"/>
		                     </td>
		                     <td>
		                         <a class="url" href="xmpp:rodneygomes@gmail.com">Gtalk</a>
		                     </td>
		                 </tr>
		             </table>
		           </td>
		        </tr>
 		     </td>
		    </table>
		    <table class="remove_top_bottom_margins fixed_table_size">
		        <tr class="remove_top_bottom_margins">
		          <td class="remove_top_bottom_margins"><b>Born</b></td>
		          <td>Toronto, Ontario, Canada</td>
		        </tr>
		    </table>
		    <table class="remove_top_bottom_margins fixed_table_size">
		        <tr class="remove_top_bottom_margins">
		          <td class="remove_top_bottom_margins"><b>Spoken Languages</b></td>
		          <td>English, Portuguese</td>
		        </tr>
		    </table>
		    <table class="remove_top_bottom_margins fixed_table_size">
		        <tr class="remove_top_bottom_margins">
		          <td class="remove_top_bottom_margins"><b>Programming Languages</b></td>
		          <td>Java, Python, Javascript, C, C++, Bash, Haskell, Prolog</td>
		        </tr>
		    </table>
          </div>
        </div>
      </div>
    <footer>
        <div style="text-align: right">Powered by <a href="http://jekyllrb.com/">Jekyll</a> &amp; <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a></div>
        <div style="text-align: right">Last Updated: {{site.time}}</div>
      </footer>
    </div> <!-- /container -->
    </body>
</html>
