<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
 	    <link rel="stylesheet" href="/css/main.css" type="text/css">
    </head>
	<body>
	    <center>
        <div id="body">
    		<a href="/">Home</a>
    		<div class="post_title">{{ page.title }}</div>
    		<div id="post.body">{{ content }}</div>
    	    <div>Related posts:</div>{% for post in site.related_posts limit:5 %}
    	    <a href="{{ post.url }}">{{ post.title }}</a>{% endfor %}
        </div>
        </center>
	</body>
</html>